.nav_bar {
	background-color: #3b4252;
	color: #d8dee9;
	padding: 4px;
	border-style: double;
	border-color: #4c566a;
	width: 500px;
}

.collum {
	background-color: #3b4252;
	color: #d8dee9;
	border-style: double;
	border-color: #4c566a;
	width: 508px;
	height: 100%;
}

a {
	color: #5e81ac;
	padding: 10px;
}

html {
	background-color: #2e3440;
    background-repeat: no-repeat, repeat;
}

h1 {
	color: #fff;
}
